<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div>
        <h1>Chitter Live Chat</h1>
      </div>
      <div>
        <h3>~<%= @user.name %>(<%= @user.username %>)</h3>
      </div>
    </header>
    <div class="error col-xs-10 col-s-8 col-6">
      <h4><%= @error %></h4>
    </div>
    <footer>
      <div class="options">
        <div class="send">
          <form action="/" method="GET">
            <button type="submit">Return To Live Chat</button>
          </form>
        </div>
        <div class="log">
          <form action="/signup" method="GET">
            <button type="submit">Try Again</button>
          </form>
          <form action="/login" method="GET">
            <button type="submit">Log In</button>
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>
